<h3>******** Welcome to the longest word-game!********</h3>
<p>Here is your grid:</p>

<h1><%= @grid.join(" ").upcase %></h1>
<h3>*****************************************************</h3>

<h3>What's your best guess?</h3>
<form action="/score">
  <input type="text" id="attempt" name="attempt" placeholder="what is your word?">
  <input type="hidden" name="time" value="<%= @start_time %>">
  <input type="hidden" name="grid" value="<%= @grid.join(" ") %>">
  <input type="submit" value="Play!">
</form>

<!-- start_time = Time.now
attempt = gets.chomp
end_time = Time.now -->
